---
import Layout from "../layouts/Layout.astro";
import DancerSection from "../components/DancerSection.astro";
import { Image } from "astro:assets";
import profileImg from "../../public/photos/homeprofile.png";
import underquoteImg from "../../public/photos/underquote.webp";
---

<Layout>
  <main>
    <div id="home" class="section min-h-screen">
      <Image
        src={profileImg}
        alt="home profile"
        loading="eager"
        class="home-profile max-h-[800px] max-w-[600px] mx-auto unselectable"
      />
      <div>
        <p class="text-2xl quote text-center opacity-80 mx-16">
          “And those who were seen dancing were thought to be insane by those
          who could not hear the music.”
        </p>
        <Image
          src={underquoteImg}
          alt="underquote"
          loading="eager"
          class="underquote mx-auto w-[700px] h-[300px] max-w-[90%] mt-4 unselectable"
        />
      </div>
    </div>
    <div id="dancer" class="section min-h-screen bg-white">
      <DancerSection />
    </div>
    <div id="teacher" class="section min-h-screen">
      <h1 class="bg-slate-600">Teacher</h1>
      <p class="bg-slate-600">Welcome to the teacher page</p>
    </div>
    <div id="choreographer" class="section min-h-screen">
      <h1 class="bg-slate-600">Choreographer</h1>
      <p class="bg-slate-600">Welcome to the choreographer page</p>
    </div>
    <div id="about" class="section min-h-screen">
      <h1 class="bg-slate-600">About</h1>
      <p class="bg-slate-600">Welcome to the about page</p>
    </div>
  </main>
</Layout>

<style>
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349)),
      url("/photos/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #dancer {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.822),
        rgba(39, 37, 37, 0.541)
      ),
      url("/photos/sketchbg.webp");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quote {
    font-family: "itim";
    text-align: center;
    color: black;
  }

  .home-profile {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }

  .underquote {
    object-fit: cover;
    width: 100%;
    height: 10%;
  }

  .unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }

  @font-face {
    font-family: "itim";
    src: url(/fonts/Itim-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @media (max-width: 768px) {
    #home {
      padding-top: 10px;
    }
  }
</style>
