---
import Layout from "../layouts/Layout.astro";
import DancerSection from "../components/DancerSection.astro";
---

<Layout>
  <main class="h-full">
    <div id="Home" class="section min-h-screen">
      <h1 class="">Home</h1>
      <p class=""></p>
    </div>
    <div id="Dancer" class="section min-h-screen bg-white">
      <DancerSection />
    </div>
    <div id="Teacher" class="section min-h-screen">
      <h1 class="bg-slate-600">Teacher</h1>
      <p class="bg-slate-600">Welcome to the teacher page</p>
    </div>
    <div id="Choreographer" class="section min-h-screen">
      <h1 class="bg-slate-600">Choreographer</h1>
      <p class="bg-slate-600">Welcome to the choreographer page</p>
    </div>
    <div id="About" class="section min-h-screen">
      <h1 class="bg-slate-600">About</h1>
      <p class="bg-slate-600">Welcome to the about page</p>
    </div>
  </main>
</Layout>

<style>
  #Home {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.822),
        rgba(39, 37, 37, 0.541)
      ),
      url("/public/photos/bg10.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #Dancer {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.822),
        rgba(39, 37, 37, 0.541)
      ),
      url("/public/photos/sketchbg.webp");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
