---
import { Image } from "astro:assets";
import c1 from "../optimizedPhotos/c1.jpg";
import c2 from "../optimizedPhotos/c2.jpg";
import c3 from "../optimizedPhotos/c3.jpg";
---

<div class="dancerInfo flex flex-col">
  <h1>Teacher</h1>
  <p>
    Welcome to the teacher info page Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Curabitur sem nunc, molestie sed hendrerit a, egestas id
    quam. In sit amet blandit purus, sed gravida enim. Vestibulum quis elit
    tristique, euismod nisi vel, gravida elit. Pellentesque cursus ac ligula
    quis convallis. Nam et ullamcorper lectus. Donec sed leo nisi. In hac
    habitasse platea dictumst.
  </p>
  <Image src={c1} alt="teacher" class="teacherCard" />
  <p>
    Donec eu nunc molestie, congue justo ac, lobortis leo. Quisque dolor justo,
    hendrerit nec sodales non, aliquam eleifend turpis. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Curabitur sem nunc, molestie sed
    hendrerit a, egestas id quam. In sit amet blandit purus, sed gravida enim.
    Vestibulum quis elit tristique, euismod nisi vel, gravida elit. Pellentesque
    cursus ac ligula quis convallis. Nam et ullamcorper lectus. Donec sed leo
    nisi. In hac habitasse platea dictumst. Donec eu nunc molestie, congue justo
    ac, lobortis leo. Quisque dolor justo, hendrerit nec sodales non, aliquam
    eleifend turpis.
  </p>
  <Image src={c2} alt="teacher" class="teacherCard" />
</div>
<style>
  h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: "Lora";
    color: black;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
    font-family: "Lora";
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .dancerInfo {
    padding: 1.5rem;
  }

  .teacherCard {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5%;

    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.5);
  }
</style>
