<div class="dancerInfo">
  <h1>Dancer</h1>
  <p>
    Welcome to the dancer info page Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Curabitur sem nunc, molestie sed hendrerit a, egestas id
    quam. In sit amet blandit purus, sed gravida enim. Vestibulum quis elit
    tristique, euismod nisi vel, gravida elit. Pellentesque cursus ac ligula
    quis convallis. Nam et ullamcorper lectus. Donec sed leo nisi. In hac
    habitasse platea dictumst. Donec eu nunc molestie, congue justo ac, lobortis
    leo. Quisque dolor justo, hendrerit nec sodales non, aliquam eleifend
    turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
    sem nunc, molestie sed hendrerit a, egestas id quam. In sit amet blandit
    purus, sed gravida enim. Vestibulum quis elit tristique, euismod nisi vel,
    gravida elit. Pellentesque cursus ac ligula quis convallis. Nam et
    ullamcorper lectus. Donec sed leo nisi. In hac habitasse platea dictumst.
    Donec eu nunc molestie, congue justo ac, lobortis leo. Quisque dolor justo,
    hendrerit nec sodales non, aliquam eleifend turpis.
  </p>
</div>
<style>
  h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: "Lora";
    color: black;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
    font-family: "Lora";
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .dancerInfo {
    padding: 1.5rem;
  }
</style>
