---
import { Image } from "astro:assets";
import dance from "../optimizedPhotos/dance.png";
---

<div class="description">
  <h1>Passion in Motion</h1>
  <p>
    Dance is more than just a series of steps and movements; it is a profound
    form of expression that captures the essence of human emotion and
    experience. For me, dance is a language that transcends words, a way to tell
    stories and convey feelings that are often indescribable.
  </p>
  <div class="image-container">
    <Image src={dance} alt="Dance" class="mx-auto" width="500" height="300" />
  </div>
</div>

<style>
  .description {
    padding: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: "Lora";
    color: black;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
    font-family: "Lora";
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Initially positioned below */
    transition:
      opacity 0.5s ease,
      transform 1.5s ease;
  }

  .image-container img {
    transition: transform 0.5s;
  }

  .image-container:hover img {
    transform: scale(1.1);
  }

  .image-container.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>
