<div
  id="nav-bg"
  class="flex flex-col justify-between sticky h-full min-w-fit max-w-80 top-0 left-0 text-white p-4 pl-5"
>
  <div>
    <h1
      class="text-md sm:text-lg md:text-lg lg:text-lg xl:text-lg my-6 mx-auto"
    >
      PATRICIA DE LEÓN
    </h1>
    <nav>
      <ul class="text-decoration-none text-sm">
        <li
          class="nav-item text-gray-300 opacity-80 hover:text-white hover:opacity-100 transition"
        >
          <a href="/">Home</a>
        </li>
        <li
          class="nav-item text-gray-300 opacity-80 hover:text-white hover:opacity-100 transition"
        >
          <a href="/Dancer">Dancer</a>
        </li>
        <li
          class="nav-item text-gray-300 opacity-80 hover:text-white hover:opacity-100 transition"
        >
          <a href="/Teacher">Teacher</a>
        </li>
        <li
          class="nav-item text-gray-300 opacity-80 hover:text-white hover:opacity-100 transition"
        >
          <a href="/Choreographer">Choreographer</a>
        </li>
        <li
          class="nav-item text-gray-300 opacity-80 hover:text-white hover:opacity-100 transition"
        >
          <a href="/About">About Me</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pl-6 my-10">
    <button
      id="contact-me"
      class="py-3 px-5 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
      >Contact Me</button
    >
  </div>
</div>

<style>
  /* Additional styles */
  .menu-icon {
    cursor: pointer;
  }
  #contact-me:hover {
    background-color: #c85c5c;
  }
  #nav-bg {
    background-color: #141517;
    min-height: 100vh;
  }
  .nav-item {
    padding: 8px 0;
  }

  /* Define styles for the dot */
  .nav-item a::before {
    content: "";
    display: inline-block;
    width: 8px; /* Size of the dot */
    height: 8px; /* Size of the dot */
    margin-right: 8px; /* Spacing between dot and text */
    border-radius: 50%;
    background-color: transparent; /* Initial color of the dot */
    transition: background-color 0.3s ease; /* Smooth transition */
  }

  /* Hover styles for the dot */
  .nav-item:hover a::before {
    background-color: #c85c5c; /* Color of the dot when hovered */
  }

  /* Active (selected) styles for the dot */
  .nav-item.active a::before {
    background-color: #c85c5c; /* Color of the dot when selected */
  }

  /* Hide the menu by default on small screens */
  @media (max-width: 768px) {
    #nav-bg {
      display: none;
    }

    .menu-open .nav-menu {
      display: block;
    }
  }
</style>
