---
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Patricia De León</title>
  </head>
  <body class="flex overflow-x-hidden">
    <NavBar />
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Lora", system-ui, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    min-width: 100vw;
  }
  main {
    flex: 1;
  }
  #nav-bg {
    background-color: #141517;
    min-height: 100vh;
  }
  .nav-item {
    padding: 8px 0; /* Adjust as needed */
  }

  /* Define styles for the dot */
  .nav-item a::before {
    content: "";
    display: inline-block;
    width: 8px; /* Size of the dot */
    height: 8px; /* Size of the dot */
    margin-right: 8px; /* Spacing between dot and text */
    border-radius: 50%;
    background-color: transparent; /* Initial color of the dot */
    transition: background-color 0.3s ease; /* Smooth transition */
  }

  /* Hover styles for the dot */
  .nav-item:hover a::before {
    background-color: #fff; /* Color of the dot when hovered */
  }

  /* Active (selected) styles for the dot */
  .nav-item.active a::before {
    background-color: #fff; /* Color of the dot when selected */
  }

  h1 {
    font-family: "montserrat";
  }

  @font-face {
    font-family: "montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Titillium";
    src: url(/fonts/TitilliumWeb-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Titillium";
    src: url(/fonts/TitilliumWeb-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
</style>
