---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Patricia De León</title>
  </head>
  <body>
    <div class="body-container overflow-x-hidden">
      <NavBar />
      <slot />
    </div>
  </body>
  <footer>
    <Footer />
  </footer>
</html>

<style is:global>
  html {
    font-family: "Lora", system-ui, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .body-container {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
  }
  h1 {
    font-family: "montserrat";
  }

  @media (max-width: 768px) {
    .body-container {
      min-height: 100vh;
      max-width: 100vw;
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .body-container {
      padding-left: 350px;
    }
    footer {
      padding-left: 350px;
    }
  }

  @font-face {
    font-family: "montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lora";
    src: url(/fonts/Lora-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Amatic SC";
    src: url(/fonts/AmaticSC-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  .dot-container {
    position: absolute;
    bottom: 5px; /* Adjust this value to position the dots */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center; /* Center dots horizontally */
    align-items: center; /* Center dots vertically */
    z-index: 1; /* Ensure dots are above the image */
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px; /* Adjust this value to increase/decrease space between dots */
    background-color: #bbb; /* Default color of dots */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for active dot */
  }

  .dot.active {
    background-color: #555; /* Color of active dot */
  }
</style>
